/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,matrix = &matrix;
    };

    matrix: matrix {
        compatible = "zmk,matrix";
        rows = <1>;
        cols = <2>;
        row-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;  // Pin D3 (P0.03) para la fila
        col-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH    // Pin D1 (P0.08) para la columna 1
                     &gpio0 6 GPIO_ACTIVE_HIGH>;  // Pin D2 (P0.06) para la columna 2
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp LCTRL &kp C  // Tecla 1: Copiar (Ctrl + C)
                &kp LCTRL &kp V  // Tecla 2: Pegar (Ctrl + V)
            >;
        };
    };
};